{% extends 'base.html.twig' %}

{% block title %}New Kamer{% endblock %}

{% block body %}
    <h1 class="text-center">Create new Kamer</h1>
<div class="container">

    {{ include('kamer/_form.html.twig') }}

    <a href="{{ path('kamer_index') }}">back to list</a>
</div>
{% endblock %}
