{% extends 'base.html.twig' %}

{% block title %}New Omgeving{% endblock %}

{% block body %}
    <h1 class="text-center">Create new Omgeving</h1>
<div class="container">

    {{ include('omgeving/_form.html.twig') }}

    <a href="{{ path('omgeving_index') }}">back to list</a>
</div>
{% endblock %}
